---
extends: default

ignore:
  - wsl-setup/*

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
  empty-lines:
    max: 1
  trailing-spaces: enable
  new-line-at-end-of-file: enable
  key-ordering: disable
  comments:
    require-starting-space: true
