---
services:
  dev:
    build:
      context: "./docker/dev"
    volumes:
      - ".:/app"
    privileged: true
    tty: true
    stdin_open: true

  mock:
    build:
      context: "./docker/mock"
    container_name: "mock"
    hostname: "mock"
    volumes:
      - "./ansible:/ansible"
      - "./docker/mock/etc/ansible:/etc/ansible"
    privileged: true
    tty: true
    stdin_open: true
