---
- name: "Update apt repository and cache"
  ansible.builtin.apt:
    update_cache: true
    force_apt_get: true
    cache_valid_time: "3600"
  register: "apt_update_result"
  retries: 3
  delay: 5
  until: "apt_update_result is succeeded"

- name: "Upgrade all packages"
  ansible.builtin.apt:
    upgrade: "dist"
    force_apt_get: true
  register: "apt_upgrade_result"
  retries: 2
  delay: 10
  until: "apt_upgrade_result is succeeded"
