---
- name: "Install mise"
  community.general.homebrew:
    name: "mise"
    state: "present"

- name: "Add to path(.zshrc)"
  ansible.builtin.blockinfile:
    path: "/home/{{ ansible_user }}/.zshrc.generated"
    block: |
      eval "$( {{ brew_package_dir }}/mise activate zsh )"
    marker: "# {mark} MISE SETUP"
    create: true
    prepend_newline: true
    mode: "0644"

- name: "Generate mise zsh completion"
  ansible.builtin.shell:
    cmd: "/home/linuxbrew/.linuxbrew/bin/mise completion zsh > /home/tech/.oh-my-zsh/custom/plugins/zsh-completions/src/_mise"
    creates: "/home/tech/.oh-my-zsh/custom/plugins/zsh-completions/src/_mise"
  tags:
    - skip_ansible_lint

- name: "Permanently enable experimental in mise config"
  ansible.builtin.command:
    cmd: "mise settings set experimental true"
  environment:
    PATH: "{{ mise_bin | dirname }}:{{ ansible_env.PATH }}"
  changed_when: false
