---
- name: "Install prerequisite packages for the mise plugin"
  ansible.builtin.include_tasks: "install_prerequisite_packages.yaml"

- name: "Run mise install"
  ansible.builtin.include_tasks: "install_mise.yaml"

- name: "Run nodejs environments setup"
  ansible.builtin.include_tasks: "setup_node.yaml"

- name: "Run golang environments setup"
  ansible.builtin.include_tasks: "setup_golang.yaml"

- name: "Run VCS environments setup"
  ansible.builtin.include_tasks: "setup_vcs.yaml"

- name: "Run neovim environments setup"
  ansible.builtin.include_tasks: "setup_neovim.yaml"
