---
- name: "Install mise plugin for {{ item }}"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "{{ item }}"
    plugin_lib_version: "latest"
    current_version: true
  loop:
    - "jq"
    - "yq"
    - "shellcheck"

- name: "Install mise plugin for {{ item.package_name }}"
  ansible.builtin.include_tasks: "mise_backend_package_versions.yaml"
  vars:
    manager_name: "{{ item.manager_name }}"
    package_name: "{{ item.package_name }}"
    package_version: "{{ item.package_version }}"
  loop:
    - manager_name: "pipx"
      package_name: "yamllint"
      package_version: "latest"
