---
- name: "Install mise plugin for uv latest versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "uv"
    plugin_lib_version: "latest"
    current_version: true

- name: "Permanently enable uvx backend for python in mise config"
  ansible.builtin.command:
    cmd: "mise settings set pipx.uvx true"
  environment:
    PATH: "{{ mise_bin | dirname }}:{{ ansible_env.PATH }}"
  changed_when: false

- name: "Install mise plugin for python latest versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "python"
    plugin_lib_version: "3.14"
    current_version: true

- name: "Install mise plugin for python legacy versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "python"
    plugin_lib_version: "{{ item }}"
    current_version: false
  loop:
    - "3.13"
    - "3.12"
    - "3.11"
    - "3.10"
    - "3.9"
