---
- name: "Install packages required for golang system development"
  ansible.builtin.apt:
    name:
      - "qemu-system-arm" # Required for binary builds for arm
      - "g++-aarch64-linux-gnu" # Required for binary builds for arm64
    state: "present"
  become: true

- name: "Create go default install package list"
  ansible.builtin.template:
    src: ".default-go-packages.j2"
    dest: "/home/{{ ansible_user }}/.default-go-packages"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: "Install mise plugin for go latest versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "go"
    plugin_lib_version: "latest"
    current_version: true

- name: "Install mise plugin for go utils"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "{{ item }}"
    plugin_lib_version: "latest"
    current_version: true
  loop:
    - "golangci-lint"
    - "gotestsum"
    - "skeema"
    - "gomigrate"
