---
- name: "Install mise plugin for node latest versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "node"
    plugin_lib_version: "24"
    current_version: true

- name: "Install mise plugin for node legacy versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "node"
    plugin_lib_version: "{{ item }}"
    current_version: false
  loop:
    - "22"
    - "20"
    - "18"
    - "16"
    - "14"
    - "12"
    - "10"
    - "8"

- name: "Install mise plugin for pnpm latest versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "pnpm"
    plugin_lib_version: "latest"
    current_version: true

- name: "Permanently enable pnpm backend for node in mise config"
  ansible.builtin.command:
    cmd: "mise settings set npm.package_manager pnpm"
  environment:
    PATH: "{{ mise_bin | dirname }}:{{ ansible_env.PATH }}"
  changed_when: false

- name: "Install mise plugin for node package manager for yarn"
  ansible.builtin.include_tasks: "mise_backend_package_versions.yaml"
  vars:
    manager_name: "npm"
    package_name: "yarn"
    package_version: "latest"

- name: "Enable corepack"
  ansible.builtin.command:
    cmd: "{{ mise_shims }}/corepack enable"
  register: "corepack_enabled"
  changed_when: false
