---
- name: "Install packages required for ruby system development"
  ansible.builtin.apt:
    name:
      - "libssl-dev"
      - "libyaml-dev"
      - "zlib1g-dev"
      - "libgmp-dev"
      - "libffi-dev"
      - "autoconf"
      - "rustc"
    state: "present"
  become: true

- name: "Install mise plugin for ruby latest versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "ruby"
    plugin_lib_version: "4"
    current_version: true

- name: "Install mise plugin for ruby legacy versions"
  ansible.builtin.include_tasks: "mise_versions.yaml"
  vars:
    plugin_name: "ruby"
    plugin_lib_version: "{{ item }}"
    current_version: false
  loop:
    - "3"
