---
- name: "Check if Neovim configuration exists"
  ansible.builtin.stat:
    path: "/home/{{ ansible_user }}/.config/nvim"
  register: "nvim_config_stat"

- name: "Clone LazyVim repository"
  ansible.builtin.git:
    repo: "https://github.com/LazyVim/starter.git"
    dest: "/home/{{ ansible_user }}/.config/nvim"
    version: "main"
    force: false
    update: true
  when: "not nvim_config_stat.stat.exists"

- name: "Remove all files and folders inside .git"
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/.config/nvim/.git"
    state: "absent"
  when: "not nvim_config_stat.stat.exists"
