---
- name: "WSL2 Ubuntu Setup"
  hosts: "localhost"
  gather_facts: true
  become: true

  pre_tasks:
    - name: "Initializing ansible"
      ansible.builtin.include_tasks: "tasks/requirement_ansible_module.yaml"
      tags: ["always"]

    - name: "Update repositories and Packages"
      ansible.builtin.include_tasks: "tasks/apt_update.yaml"
      tags: ["always"]

  post_tasks:
    - name: "Clear package manager cache"
      ansible.builtin.include_tasks: "tasks/apt_clear.yaml"
      tags: ["always"]

  roles:
    - name: "Run System configuration role"
      role: "system_configuration"
      tags: ["system"]

    - name: "Run dev setup role"
      role: "dev_setup"
      become: false
      tags: ["dev-setup"]

    - name: "Run setup provisioning schedule role"
      role: "provisioning_schedule"
      tags: ["scheduled"]
