---
- name: "Run Install requirement system packages"
  ansible.builtin.apt:
    name: "{{ requirement_packages }}"
    state: "present"

- name: "Run WSL2 configure"
  ansible.builtin.include_tasks: "wsl_configuration.yaml"

- name: "Run language locale configure"
  ansible.builtin.include_tasks: "lang_locale_configuration.yaml"

- name: "Run time locale configure"
  ansible.builtin.include_tasks: "time_locale_configuration.yaml"

- name: "Run DNS resolver configure"
  ansible.builtin.include_tasks: "dns_resolver_configuration.yaml"

- name: "Run Change default terminal"
  ansible.builtin.include_tasks: "change_default_terminal.yaml"

- name: "Run user mode configure"
  become: false
  block:
    - name: "Run oh-my-zsh configure"
      ansible.builtin.include_tasks: "oh_my_zsh_configuration.yaml"

    - name: "Run zsh configure"
      ansible.builtin.include_tasks: "zsh_configuration.yaml"

    - name: "Run homebrew configure"
      ansible.builtin.include_tasks: "homebrew_configuration.yaml"
