---
- name: "Oh-my-zsh - Check installation status"
  ansible.builtin.stat:
    path: "{{ omz_install_dir }}"
  register: "omz_installed"

- name: "Oh-my-zsh - Installation and configuration"
  when: "not omz_installed.stat.exists"
  block:
    - name: "Download installation script"
      ansible.builtin.get_url:
        url: "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh"
        dest: "{{ tmp_dir }}"
        mode: "0755"

    - name: "Install oh-my-zsh"
      ansible.builtin.command:
        cmd: "{{ tmp_dir }}/install.sh"
      changed_when: true

- name: "Ensure custom themes directory exists"
  ansible.builtin.file:
    path: "{{ omz_theme_dir }}"
    state: "directory"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: "Clone alien theme repository"
  ansible.builtin.git:
    repo: "https://github.com/eendroroy/alien.git"
    dest: "{{ omz_theme_dir }}/alien"
    version: "master"
    force: false
    update: true

- name: "Clone Oh-my-zsh plugin on zsh-syntax-highlighting"
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    dest: "{{ omz_plugin_dir }}/zsh-syntax-highlighting"
    version: "master"
    force: false
    update: true

- name: "Clone Oh-my-zsh plugin on zsh-completions"
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-completions.git"
    dest: "{{ omz_plugin_dir }}/zsh-completions"
    version: "master"
    force: false
    update: true

- name: "Clone Oh-my-zsh plugin on zsh-autosuggestions"
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions"
    dest: "{{ omz_plugin_dir }}/zsh-autosuggestions"
    version: "master"
    force: false
    update: true

- name: "Clone Oh-my-zsh plugin on zsh-history-substring-search"
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-history-substring-search.git"
    dest: "{{ omz_plugin_dir }}/zsh-history-substring-search"
    version: "master"
    force: false
    update: true
